.sentry__title {
  color: var(--gray-light);
  opacity: 1;
  font-size: var(--font-size-m);
  text-transform: uppercase;
}

.sentry_errors {
  color: var(--color);
  font-size: var(--font-size-s);
}

li.sentry_error {
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
}

.sentry__error_last_context {
  color: var(--color);
}

.sentry__error_class, .sentry__error_misc {
  color: var(--gray-light);
  font-size: var(--font-size-s);
}
